<h1>Consumiendo la API REST Productos (CRUD)</h1>
<dx-data-grid 
    id="gridContainer"
    [dataSource]="productos"
    keyExpr="id_producto"
    [allowColumnReordering]="true"
    [showBorders]="true"
    (onRowInserted)="save($event)"
    (onRowUpdated)="update($event)"
    (onRowRemoved)="remove($event)">
    
    <dxo-paging [enabled]="true"></dxo-paging>
    <dxo-editing 
         mode="row"
         [allowUpdating]="true"
         [allowDeleting]="true"
         [allowAdding]="true">
    </dxo-editing>
    
    <dxi-column dataField="nombre"></dxi-column>
    <dxi-column dataField="unidades"></dxi-column>
    <dxi-column dataField="valor" [width]="130"></dxi-column>
</dx-data-grid>